/bin/
/.gradle/
/.apt_generated/
/.apt_generated_tests/
/build/
/buildSrc/.gradle
/buildSrc/build
/compiletime-aspects/
/runtime-aspects/
spring-shell.log
../proteusframework-bootstrapdb-0.9.0-20140711150726.pgdump

.idea/libraries/
.idea/workspace.xml
.idea/tasks.xml
atlassian-ide-plugin.xml
